<section>
  <div class="flex flex-wrap items-center justify-between gap-4">
    <div class="flex flex-wrap items-center gap-3">
      <h2 class="text-2xl font-bold text-white">{{ 'auctions.heading' | translate }}</h2>
      <p-select
        [ngModel]="selectedYearBucket()"
        (ngModelChange)="selectedYearBucket.set($event)"
        [options]="yearOptions"
        optionLabel="labelKey"
        optionValue="value"
        [showClear]="true"
        [placeholder]="'auctions.filters.anyYear' | translate"
        [size]="'small'"
      >
        <ng-template let-option pTemplate="item">{{ option.labelKey | translate }}</ng-template>
        <ng-template let-option pTemplate="selectedItem">{{ option.labelKey | translate }}</ng-template>
      </p-select>
      <p-select
        [ngModel]="selectedTransmission()"
        (ngModelChange)="selectedTransmission.set($event)"
        [options]="transmissionOptions"
        optionLabel="labelKey"
        optionValue="value"
        [showClear]="true"
        [placeholder]="'auctions.filters.anyTransmission' | translate"
        [size]="'small'"
      >
        <ng-template let-option pTemplate="item">{{ option.labelKey | translate }}</ng-template>
        <ng-template let-option pTemplate="selectedItem">{{ option.labelKey | translate }}</ng-template>
      </p-select>
      <p-select
        [ngModel]="selectedBodyStyle()"
        (ngModelChange)="selectedBodyStyle.set($event)"
        [options]="bodyStyleOptions"
        optionLabel="labelKey"
        optionValue="value"
        [showClear]="true"
        [placeholder]="'auctions.filters.anyBodyStyle' | translate"
        [size]="'small'"
      >
        <ng-template let-option pTemplate="item">{{ option.labelKey | translate }}</ng-template>
        <ng-template let-option pTemplate="selectedItem">{{ option.labelKey | translate }}</ng-template>
      </p-select>
    </div>

    <div class="flex flex-wrap items-center gap-4 text-sm">
      @for (tab of sortTabs; track tab.key) {
        <button
          type="button"
          (click)="selectSort(tab.key)"
          class="font-medium"
          [class.text-primary]="activeSort() === tab.key"
          [class.underline]="activeSort() === tab.key"
          [class.text-surface-300]="activeSort() !== tab.key"
        >
          {{ tab.labelKey | translate }}
        </button>
      }
    </div>
  </div>

  <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4">
    @for (auction of auctions(); track auction.id) {
      <app-auction-card [data]="auction" />
    }
  </div>
</section>
